{% extends 'master.html' %} {% block contenido %}
<div>
  <h1 class="text-center">Atención al cliente</h1>
  <p class="text-center">
    Si tiene alguna duda o consulta, no dude en contactar con nosotros.
  </p>
  <p class="text-center"><i class="bi bi-telephone"></i> 900 000 000</p>
  <p class="text-center">
    <i class="bi bi-envelope-at"></i>
    <a href="mailto:mail@mail.com" class="text-decoration-none text-dark">
      rentatractorus@gmail.com
    </a>
  </p>
  <p class="text-center">
    <i class="bi bi-pin-map"></i> Avenida Reina Mercedes, S/N, Sevilla, España
  </p>
  <p class="text-center">
    <i class="bi bi-clock"></i> Lunes a viernes de 9:00 - 14:00 y de 16:00 -
    19:00
  </p>
</div>
{% endblock %}
