{% extends 'master.html' %} {% block contenido %}
{% load custom_template_tags %}

<div class="d-flex justify-content-between">
    <h1>{{categoria}}</h1>
    <form action="" method="post" class="d-flex">
        {% csrf_token %}
        {{formularioOrdenacion}}
    </form>
</div>
<div>
    <div class="row mt-5">
        {% for producto in productos %}
        <div class="col-md-3 offset-md-1">
            <div class="card border-0">
                <div class="square">                
                    <img src= "../../media/{{producto.imagen}}" 
                    {% if producto.stock != 0 %}
                        class="card-img-top img-fluid"
                    {% else %}
                        class="card-img-top img-fluid out-stock"
                    {% endif %}
                    role="button" alt="{{producto.nombre}}" onclick="location.href='/producto/{{producto.id}}'">
                    {% if producto.descuento != 0 %}
                        <span class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger">%</span>
                    {% endif %}
                </div>
                <div class="card-body">
                    <p class="card-text">{{producto.nombre}}</p>
                    <h5 class="card-title d-flex justify-content-between">
                        <span>
                            {% if producto.stock != 0 %}
                                {{producto.precio|subtract:producto.descuento}}€
                            {% endif %} 
                            <span class="text-danger">
                                {% if producto.stock == 0 %}
                                    AGOTADO
                                {% endif %} 
                            </span>
                            <span class="text-muted text-decoration-line-through">
                                {% if producto.descuento != 0 %}
                                    {{producto.precio}}€
                                {% endif %}
                            </span>
                        </span>
                        <a role="button" onclick="alert('Añadido a favoritos')">
                            {% if producto in favoritos %}
                            <i class="bi bi-bookmark-fill"></i>
                            {% else %}
                            <i class="bi bi-bookmark"></i>
                            {% endif %}
                        </a>
                    </h5>
                  <a href="#" class="btn btn-light w-100">Añadir a la cesta</a>
                </div>
              </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}