{% extends 'master.html' %} {% block contenido %}
{% load custom_template_tags %}

<div class="row">
    <div class="col-md-8">
        <h3>Cesta ({{cesta|length}})</h3>
        {% for producto in cesta %}
        <div class="card mb-3 border-0" class="max-width: 540px;">
            <div class="row g-0">
              <div class="col-md-4">
                <img src="../../media/{{producto.maquina.imagen}}" class="img-fluid rounded-start" alt="{{producto.maquina.nombre}}">
              </div>
              <div class="col-md-8">
                <div class="card-body">
                  <p class="card-text">{{producto.maquina.nombre}}</p>
                  <span class="d-flex justify-content-between"><strong class="card-text">
                    {% if producto.maquina.descuento != 0 %}
                    {{producto.maquina.precio|subtract:producto.maquina.descuento}}
                    {% else %}
                    {{producto.maquina.precio}}
                    {% endif %} €</strong>
                    {% if not noCliente %}
                      {% if producto.maquina in favoritos %}
                      <a role="button" href="/favoritos/{{ producto.maquina.id }}">
                          <i class="bi bi-bookmark-fill"></i>
                      </a>
                      {% else %}
                      <a role="button" href="/favoritos/{{ producto.maquina.id }}">
                          <i class="bi bi-bookmark"></i>
                      </a>
                      {% endif %}
                    {% endif %}
                  </span> <br/>
                  <div class="input-group flex-nowrap">
                    <input type="number" class="form-control" value="{{producto.cantidad}}" min="1" aria-label="Unidades" aria-describedby="addon-wrapping" onchange="document.location.href = '/cesta/update/{{producto.maquina.id}}/' + this.value">
                    <input type="hidden" name="next" value="{{ request.path }}">
                    <a href="/cesta/remove/{{producto.maquina.id}}/">
                      <span class="input-group-text" id="addon-wrapping" role="button"><i class="bi bi-trash"></i></span>
                    </a></div>
                </div>
              </div>
            </div>
        </div>
    {% endfor %}
    </div>
    <div class="col-md-4">
        <h3>Resumen del pedido</h3>
        <div class="card border-0">
          <div class="card-body ps-0">
            <p class="card-text d-flex justify-content-between"><span>Subtotal</span><span>{{precioTotal}} €</span></p>
            {% if precioTotal < 499 %}<p class="card-text d-flex justify-content-between"><span>Gastos de envío</span><span>50 €</span></p>{% endif %}
            <hr/>
            <strong class="card-text d-flex justify-content-between"><span>Total</span><span>{{precioTotalEnvio}} €</span></strong>
            <button class="btn btn-warning w-100 mt-2" onclick="location.href='/domicilioPago'">Pagar</button>
          </div>
      </div>
    </div>
</div>

{% endblock %}