{% extends 'master.html' %} {% block contenido %}
<div>
  <h1 class="text-center">Condiciones generales de alquiler</h1>
  <h5>Objeto</h5>
  <p>
    El presente contrato de naturaleza mercantil, tiene por objeto la cesión por
    el arrendador, en régimen de arrendamiento, de la maquinaria identificada en
    las condiciones particulares.
  </p>
  <p>
    El arrendador, legítimo titular de los bienes objeto del presente contrato,
    cede su uso y disfrute en correcto estado de funcionamiento y con todos sus
    accesorios al arrendatario, que los recibe con entera conformidad y se
    compromete a no realizar actos de cesión, traspaso o subrogación salvo con
    previo consentimiento por escrito del arrendador, corriendo por cuenta del
    arrendatario cuantos gastos se originen como consecuencia del incumplimiento
    de dichos compromisos.
  </p>
  <h5>Duración</h5>
  <p>
    La duración del período de alquiler se inicia el día en que se efectúa la
    puesta a disposición del material por el arrendador al arrendatario y
    finaliza en la fecha pactada para la devolución y entrega de la maquinaria
    arrendada, UNA (1) SEMANA.
  </p>
  <h5>Responsabilidad contractual</h5>
  <p>
    Desde el momento de la puesta a disposición, las máquinas y accesorios
    quedan fuera de la responsabilidad del arrendador, asumiendo el arrendatario
    todos los riesgos por su deterioro, pérdida total o parcial cualquiera que
    sea la causa, incluso el robo, así como la responsabilidad por la totalidad
    de los daños y perjuicios, materiales y corporales, que puedan ser causados
    por dicha maquinaria, o con la misma y sus accesorios, a terceros, personas
    o cosas, durante la vigencia del contrato, dado que los bienes arrendados no
    están bajo el control del arrendador.
  </p>
  <p>
    El arrendatario no podrá realizar reclamación o descuento, salvo el caso de
    falta de cumplimiento de las obligaciones del arrendador.
  </p>
  <p>
    Una vez comunicada la voluntad de finalizar el arrendamiento por parte de la
    arrendataria, y hasta el momento en el que se produzca la retirada efectiva
    de las máquinas por parte del arrendador, o cualquiera de sus agentes
    autorizados, será responsabilidad del arrendatario mantener la correcta
    custodia y vigilancia de las mismas, pudiendo ser reclamados por parte del
    arrendador cualquier daño ocasionado en los bienes arrendados hasta su
    retirada.
  </p>
  <h5>Métodos de Pago</h5>
  <p>Existen 2 métodos de pago:</p>
  <ol class="list-group-numbered">
    <li
      class="list-group-item d-flex justify-content-between align-items-start"
    >
      <div class="ms-2 me-auto">
        <div class="fw-bold">Pago contrarreembolso</div>
        <p>
          El comprador deberá abonar el coste total del pedido directamente a la
          persona que nos haga la entrega del mismo en su domicilio. No supondrá
          un coste adicional.
        </p>
      </div>
    </li>
    <li
      class="list-group-item d-flex justify-content-between align-items-start"
    >
      <div class="ms-2 me-auto">
        <div class="fw-bold">Pago con tarjeta de crédito o débito</div>
        <p>
          El comprador deberá abonar el coste total del pedido en el apartado de
          Pago para formalizar un pedido. Se tramitará a través de Stripe. Para ello, deberá
          proporcionar una tarjeta de crédito o débito válida en el momento de la compra.
        </p>
      </div>
    </li>
  </ol>
  <p>
    En cualquier caso, el precio del alquiler y la forma de pago fijadas de común acuerdo por las
    partes y establecidas en las condiciones particulares del contrato, se
    aceptan libremente por las partes y constituyen un compromiso indisoluble e
    inalterable.
  </p>
  <p>
    Serán siempre por cuenta del arrendatario, y facturados por partidas
    independientes, los gastos de transporte, carga y descarga del material al
    comienzo y a la finalización del contrato, así como el seguro acordado, el
    IVA, y los demás impuestos, nacionales, autonómicos y locales,
    correspondientes a todos los conceptos enumerados. El precio incrementará
    anualmente, el 1 de enero, independiente de la fecha de contratación del
    alquiler, por el IPC del año precedente, sin necesidad de notificación
    previa, salvo acuerdo pactado entre ambas partes.
  </p>
  <h5>Transporte, entrega, traslado y devolución</h5>
  <p>
    El transporte del material arrendado, así como los gastos de carga y
    descarga, serán siempre a cargo del arrendatario, pudiendo el arrendador
    encargarse de estos servicios si así los solicita el arrendatario.
  </p>
  <p>
    Cuando el arrendatario se encargue del transporte de la maquinaria
    arrendada, éste se realizará bajo su entera responsabilidad.
  </p>
  <p>
    La maquinaria objeto del contrato será entregada por el arrendador al
    arrendatario en el lugar convenido por las partes que se indica en las
    condiciones particulares y no podrá trasladarse del lugar estipulado,
    teniendo prohibida en cualquier caso su salida de territorio nacional, sin
    previa autorización escrita del arrendador, siendo por cuenta y riesgo del
    arrendatario todos los gastos que por dicho motivo se originen. Al final del
    arrendamiento, la máquina, equipos y accesorios, serán devueltos al
    arrendador de la forma acordada, en las mismas condiciones en que fueron
    entregados salvo el desgaste normal motivado por el uso.
  </p>
  <h5>Obligaciones del arrendatario</h5>
  <p>
    Las máquinas, equipos y accesorios alquilados se destinarán, única y
    exclusivamente para los fines que han sido contratados y en el lugar
    indicado, con absoluto sometimiento a las normas generales de seguridad y
    salud vigentes, estando prohibida su salida de territorio nacional.
  </p>
  <p>
    El arrendatario empleará personal debidamente instruido y con las licencias
    necesarias para el manejo de las máquinas, conociendo las operaciones
    relativas a su funcionamiento, mantenimiento y seguridad, así como el manual
    de instrucciones del fabricante que el cliente reconoce recibir y
    comprender, así como las recomendaciones del arrendador, comprometiéndose a
    no utilizar personas bajo la influencia de bebidas alcohólicas o de
    sustancias estupefacientes.
  </p>
  <p>
    El arrendatario deberá notificar al arrendador, dentro de las veinticuatro
    (24) horas de haberse producido, cualquier avería o funcionamiento
    incorrecto del material alquilado, dejando inmediatamente de utilizar la
    máquina si fuera previsible, posible o probable un riesgo que entrañara
    peligro para la seguridad y salud de las personas encargadas de la máquina,
    o que se hallaren dentro de su ámbito de funcionamiento.
  </p>
  <h5>Causas de resolución del Contrato</h5>
  <p>
    (a) Por el transcurso del plazo de duración del Contrato en los términos
    establecidos anteriormente.
  </p>
  <p>(b) Por mutuo acuerdo de las partes.</p>
  <p>
    (c) Por incumplimiento de las obligaciones de pago del arrendatario, en cuyo
    caso el presente documento sirve como autorización expresa del arrendatario
    para que el arrendador proceda a la retirada de la maquinaria y accesorios
    arrendados, cualquiera que sea el lugar donde ese material se encuentre.
  </p>
  <p>
    En todo caso el arrendatario estará obligado a abonar la totalidad del
    precio del arrendamiento vencido y no pagado, con sus intereses moratorios
    correspondientes. Igualmente serán de cuenta del arrendatario los gastos en
    que incurra el arrendador por la retirada de la máquina y sus accesorios.
  </p>
</div>
{% endblock %}
