<div class="content">
  <div class="row">
    <p>Para: {{ pedido.cliente.correo }}</p>
  </div>
  <div class="row">
    <strong style="font-size: xx-large;">CONFIRMACIÓN DE PEDIDO</strong>
  </div>
  <div class="row">
    <p>Hola, {{ pedido.cliente.nombre }}</p>
  </div>
  <div class="row">
    <p>Gracias por la confianza depositada en Rent a tractor</p>
    <p>Le confirmamos que se ha tramitado su compra.</p>
    <p>El número de referencia de su pedido es <strong>{{ pedido.id }}</strong></p>
  </div>
  <div class="row">
    <p>Si quiere ver el estado de su pedido entre en nuestra página web, en la sección de <strong>SEGUIMIENTO DE PEDIDOS</strong> e introduzca su número de refencia de pedido.</p>
  </div>
  <div class="row">
    <p>¡Esperamos que disfrute de su compra!</p>
  </div>
  <div class="row">
    <p>Pra cualquier duda o incidencia no dude en ponerse en contacto con nosotros a través de nuestra página web o enviándonos un correo a rentatractorus@gmail.com</p>
  </div>
  <div class="row">
    <p>Muchas gracias.</p>
    <p>Rent a tractor</p>
  </div>
</div>
<img src="cid:{image_name}" alt="Rent a Tractor" width="250vh" >

   