{% extends 'master.html' %} {% block contenido %}
{% load custom_template_tags %}

{% if enviado %}
<p class="alert alert-success" role="alert" >
  Su confirmación se ha enviado con éxito a {{ pedido.cliente.correo }}. Gracias!
</p>
{% endif %}

<div class="text-center">
  <span class="badge text-bg-light fs-5"> <a class = "text-decoration-none text-black">Métodos de envío</a></span>
  <span class="badge text-bg-warning fs-5"><a class = "text-decoration-none text-black">Métodos de pago</a></span>
</div>
<div class="row mt-5">
  <div class="col-md-8">
    <div class="row">
      <strong style="font-size: xx-large;">Confirmación de pedido</strong>
      <p><strong>¡Gracias por realizar su pedido!</strong></p>

      <p>¿Quiere que le enviemos un correo a {{ pedido.cliente.correo }} con la confirmación de su pedido <strong>{{ pedido.id }}</strong>?</p>
      <form action="" method="POST" >
        
      {% csrf_token %}
          {{form.as_p}}
      <div class="d-flex justify-content-center">
        <button type="submit" name="enviar_correo" class="btn btn-warning ">Enviar confirmación</button>
      </div>
    </form>

    </div>
    <div class="row">
      <strong style="font-size: xx-large;">Seguimiento de pedido</strong>
      {% for producto in pedido.maquina.all %}
      <div class="col-md-5">
        <div class="card mb-3 border-0" style="max-width: 540px;">
        <div class="row g-0">
          <div class="col-md-6">
            <img src="../../media/{{producto.imagen}}" class="img-fluid rounded-start" alt="{{producto.nombre}}">
          </div>
          <div class="col-md-6">
            <div class="card-body">
              <span>{{producto.nombre}}</span><br/>
              <strong>
                {% if producto.descuento != 0 %}
                {{producto.precio|subtract:producto.descuento}}
                {% else %}
                {{producto.precio}}
                {% endif %} €</strong>
            </div>
          </div>
        </div>
      </div>
    </div>
      {% endfor %}
    </div>
    <div class="row mt-2">
      <strong style = "font-size: xx-large;">Domicilio de envío</strong>
      <span>{{pedido.direccion_envio}}</span> <br/>
    </div>
    <div class="row mt-2">
      <strong style = "font-size: xx-large;">Domicilio de facturación</strong>
      <span>{{pedido.direccion_facturacion}}</span> <br/>
    </div>
  </div>
  <div class="col-md-4">
    <div class="row">
      <span class="d-flex">
      {% if pedido.estado_pedido != 'No pagado' %}
      <i class="bi bi-check2-square fs-4"></i>&nbsp;<p class="fs-5 mb-0">Compra realizada</p></span>
      <p class="text-muted ms-4">{{pedido.fecha_pedido}}</p>
      {% else %}
      <i class="bi bi-square fs-5"></i>&nbsp;<p class="fs-5 mb-0">Compra realizada</p></span>
      <p class="text-muted ms-4">--/--/----</p>
      {% endif %}
      <span class="d-flex">
      {% if pedido.estado_pedido == 'Enviado' or pedido.estado_pedido == 'Recogido' %}
      <i class="bi bi-check2-square fs-4"></i>&nbsp;<p class="fs-5 mb-0">Enviado</p></span>
      <p class="text-muted ms-4">{{pedido.fecha_pedido|addOneWeek}}</p>
      {% else %}
      <i class="bi bi-square fs-5"></i>&nbsp;<p class="fs-5 mb-0">Enviado</p></span>
      <p class="text-muted ms-4">--/--/----</p>
      {% endif %}
      <span class="d-flex">
      {% if pedido.estado_pedido == 'Recogido' %}
      <i class="bi bi-check2-square fs-4"></i>&nbsp;<p class="fs-5 mb-0">Recogido</p></span>
      <p class="text-muted ms-4">{{pedido.fecha_pedido|addOneWeek|addOneWeek}}</p>
      {% else %}
      <i class="bi bi-square fs-5"></i>&nbsp;<p class="fs-5 mb-0">Recogido</p></span>
      <p class="text-muted ms-4">--/--/----</p>
      {% endif %}
    </div>
    <div class="row mt-2">
      <div class="card border-0 bg-light">
        <div class="card-body">
          <h3 class="card-title">Resumen del pedido</h3>
          {% for producto in pedido.maquina.all %}
          <p class="card-text d-flex justify-content-between mb-0"><span class="pe-5 w-75">{{producto.nombre}}</span><span class="w-25 position-absolute end-0">
            {% for prodUnidades in contiene %}
              {% if prodUnidades.maquina.id == producto.id %}
                {% if producto.descuento != 0 %}
                  {{producto.precio|subtract:producto.descuento|multiply:prodUnidades.cantidad}}
                {% else %}
                  {{producto.precio|multiply:prodUnidades.cantidad}}
                {% endif %} €
              {% endif %}
            {% endfor %}
          </span></p>
          <p class="card-text fst-italic">
            {% for prodUnidades in contiene %}
              {% if prodUnidades.maquina.id == producto.id %}
                {{prodUnidades.cantidad}} 
                {% if prodUnidades.cantidad == 1%}
                  unidad
                {% else %}
                  unidades
                {% endif %}
              {% endif %}
            {% endfor %}</p>
          {% endfor %}
          <p class="card-text d-flex justify-content-between"><span>Gastos de envío </span><span class="w-25 position-absolute end-0">
            {% if gastoEnvio != 0 %} 
              50€
            {% else %}
              GRATIS
            {% endif %}
          </span></p>
          <hr/>
          <strong class="card-text d-flex justify-content-between"><span>Total</span><span class="w-25 position-absolute end-0">{{precioTotalEnvio}} €</span></strong>
        </div>
      </div>
    </div>
    <div class="row mt-2">
      <form action="" method="POST" >
        {% csrf_token %}
          {{form.as_p}}
          {% if pedido.estado_pedido != 'Recogido' and not pedido.pago_contrareembolso %}
        <button type="submit" formtarget="_blank" name="descargar_factura" class="btn btn-dark ">Descargar factura PDF</button>
            {% endif %}

      <!-- <a href="" name="descargar_factura" class="text-black"> Descargar factura PDF</a> -->
        </form>
    </div>
  </div>
</div>
{% endblock %}