{% extends 'master.html' %} {% block contenido %}
<div>
  <h1 class="text-center">Contacto</h1>
    <form action="/contacto" method="POST">
        <div class="mb-3">
        <label for="nombre" class="form-label">Nombre</label>
        <input type="text" class="form-control" id="nombre" name="nombre" required>
        </div>
        <div class="mb-3">
        <label for="email" class="form-label">Email</label>
        <input type="email" class="form-control" id="email" name="email" required>
        </div>
        <div class="mb-3">
        <label for="mensaje" class="form-label">Mensaje</label>
        <textarea class="form-control" id="mensaje" name="mensaje" rows="3" required></textarea>
        </div>
        <button type="submit" class="btn btn-warning">Enviar</button>
    </form>
</div>
{% endblock %}
