{% extends 'master.html' %} {% block contenido %}
<div>
  <h1 class="text-center">Contacto</h1>

  {% if submitted %}
  <p class="alert alert-success" role="alert" >
    Su mensaje se ha enviado con éxito. Gracias por contactarnos!
  </p>
  {% else %}
  <form action="/contacto/" method="POST">
      {% csrf_token %}
          {{form.as_p}}
      <div class="d-flex justify-content-center m-3">
        <button type="submit" class="btn btn-warning ">Enviar</button>
      </div>
    </form>
  {% endif %}

</div>

{% endblock %}
