{% extends 'master.html' %} {% block contenido %}
<div class="text-center">
  <span class="badge text-bg-light fs-5"> <a class = "text-decoration-none text-black">Envío a domicilio</a></span>
  <span class="badge text-bg-warning fs-5"><a class = "text-decoration-none text-black">Datos personales</a></span>
  <span class="badge text-bg-light fs-5"><a class = "text-decoration-none text-black">Pago</a></span>
</div>
<div class="row mt-5">
  <div class="col-md-8">
    <div class="row">
      <div class="col">
        <strong class="fs-xx-large">Envío a domicilio</strong> <br/>
        <span>Nombre y apellido</span> <br/>
        <span>Nombre de la vía y número</span> <br/>
        <span>Código postal - Población - Provincia</span> <br/>
        <span>País</span> <br/>
        <span>Móvil: 000000000</span>
      </div>
    </div>
    <div class="row mt-5">
      <div class="col">
        <strong class="fs-xx-large">Datos personales</strong>
        <p class="d-flex justify-content-between"><span>Fecha de nacimiento</span><input type="date" class="form-control w-50"/></p>
        <p class="d-flex justify-content-between"><span>Documento de indentificación</span><input type="text" class="form-control w-50"/></p>
      </div>
    </div>
  </div>
  <div class="col-md-4">
    <div class="card border-0 bg-light">
      <div class="card-body">
        <h3 class="card-title">Resumen del pedido</h3>
        <p class="card-text d-flex justify-content-between mb-0"><span>Carretilla elevadora 1500kg</span><span>250€</span></p>
        <p class="card-text fst-italic">1 unidad</p>
        <p class="card-text d-flex justify-content-between"><span>Gastos de envío</span><span>50€</span></p>
        <hr/>
        <strong class="card-text d-flex justify-content-between"><span>Total</span><span>300€</span></strong>
      </div>
  </div>
  </div>
</div>
<div class="row mt-5">
  <strong class="fs-xx-large">Dirección de facturación</strong>
  <div class="col-md-4">
    <span>Nombre</span>
  </div>
  <div class="col-md-4">
    <span>Primer apellido</span>
    </div>
  <div class="col-md-4">
    <span>Segundo apellido</span>
  </div>
</div>
<div class="row">
  <div class="col-md-4">
    <input type="text" class="form-control" aria-label="Nombre"> 
  </div>
  <div class="col-md-4">
    <input type="text" class="form-control" aria-label="PrimerApellido">
  </div>
  <div class="col-md-4">
    <input type="text" class="form-control" aria-label="SegundoApellido">
  </div>
</div>
<div class="row">
  <div class="col-md-4">
    <span>País</span>
  </div>
  <div class="col-md-4">
    <span>Provincia</span>
  </div>
</div>
<div class="row">
  <div class="col-md-4">
    <input type="text" class="form-control" aria-label="Pais">
  </div>
  <div class="col-md-4">
    <input type="text" class="form-control" aria-label="Provincia">
  </div>
</div>
<div class="row">
  <div class="col-md-8">
    <span>Nombre de la vía</span>
  </div>
  <div class="col-md-4">
    <span>Número</span>
  </div>
</div>
<div class="row">
  <div class="col-md-8">
    <input type="text" class="form-control" aria-label="NombreVia">
  </div>
  <div class="col-md-4">
    <input type="text" class="form-control" aria-label="Numero">
  </div>
</div>
<div class="row">
  <div class="col-md-4">
    <span>Código postal</span>
  </div>
  <div class="col-md-4">
    <span>Población</span>
  </div>
  <div class="col-md-4">
    <span>Móvil</span>
    </div>
</div>
<div class="row">
  <div class="col-md-4">
    <input type="text" class="form-control" aria-label="CodigoPostal">
  </div>
  <div class="col-md-4">
    <input type="text" class="form-control" aria-label="Poblacion">
  </div>
  <div class="col-md-4">
    <input type="text" class="form-control" aria-label="Movil">
  </div>
</div>
<form class="row mt-5 d-flex justify-content-between" action="/pago/" method="POST"> {% csrf_token %}
    <button class="btn btn-outline-secondary w-25" onclick="location.href='/domicilioPago'">Volver</button>
    <button class="btn btn-warning w-25" type="submit">Confirmar</button>
</form>

{% endblock %}