{% extends 'master.html' %} {% block contenido %}
{% load custom_template_tags %}

<div class="text-center">
  <span class="badge text-bg-warning fs-5"> <a class = "text-decoration-none text-black">Envío a domicilio</a></span>
  <span class="badge text-bg-light fs-5"><a class = "text-decoration-none text-black">Datos personales</a></span>
  <span class="badge text-bg-light fs-5"><a class = "text-decoration-none text-black">Pago</a></span>
</div>
<form action="/domicilioPago/" method="POST"></form>
<div class="row mt-5">
  <div class="col-md-8">
    <div class="row">
      
      {% csrf_token %}
      {{form }}
      <!-- {% for field in form %}

      <div class="col">
        {{ form.field1 }}
      </div>
      <div class="col">
        {{ form.field2 }}
      </div>
    </div>
    <div class="row">
      <div class="col">
        {{ form.field3 }}
      </div>
      <div class="col">
        {{ form.field4 }}
      </div>
    </div>
    <div class="row">
      <div class="col">
        {{ form.field5 }}
      </div>
      <div class="col">
        {{ form.field6 }}
      </div>
    </div>
    <div class="row">
      <div class="col-md-8">
        {{ form.field7 }}
      </div>
      <div class="col-md-4">
        {{ form.field8 }}
      </div>
    </div>
    <div class="row">
      <div class="col-md-6">
        {{ form.field9 }}
      </div>
      {% endfor %} -->
    </div>
  </div>
  
  <div class="col-md-4">
    <div class="card border-0 bg-light">
      <div class="card-body">
        <h3 class="card-title">Resumen del pedido</h3>
        {% for producto in cesta %}
          <p class="card-text d-flex justify-content-between mb-0"><span class="pe-5 w-75">{{producto.maquina.nombre}}</span><span class="w-25 position-absolute end-0">
                {% if producto.maquina.descuento != 0 %}
                  {{producto.maquina.precio|subtract:producto.maquina.descuento|multiply:producto.cantidad}}
                {% else %}
                  {{producto.maquina.precio|multiply:producto.cantidad}}
                {% endif %} €
          </span></p>
          <p class="card-text fst-italic">
                {{producto.cantidad}} 
                {% if producto.cantidad == 1%}
                  unidad
                {% else %}
                  unidades
                {% endif %}</p>
          {% endfor %}
          <p class="card-text d-flex justify-content-between"><span>Gastos de envío</span><span class="w-25 position-absolute end-0">50 €</span></p>
          <hr/>
          <strong class="card-text d-flex justify-content-between"><span>Total</span><span class="w-25 position-absolute end-0">{{precioTotal|add:50}} €</span></strong>
      </div>
  </div>
  </div>
</div>
<div class="row mt-5 d-flex justify-content-between">
  <button class="btn btn-outline-secondary w-25" onclick="location.href='/cesta'">Volver</button>
  <button class="btn btn-warning w-25" onclick="location.href='/datosPago'">Continuar</button>
</div>
</form>
{% endblock %}