{% extends 'master.html' %} {% block contenido %}
{% load custom_template_tags %}

<div class="text-center">
  <span class="badge text-bg-warning fs-5"> <a class = "text-decoration-none text-black">Métodos de envío</a></span>
  <span class="badge text-bg-light fs-5"><a class = "text-decoration-none text-black">Métodos de pago</a></span>
</div>
<form action="/domicilioPago/" method="post">
<div class="row mt-5">
  <strong style="font-size: xx-large">Datos personales</strong>
  <div class="col-md-8">
      {% csrf_token %}
      {% for field in step1_form %}
        {% if field.name == 'tienda' %} 
        <strong style="font-size: xx-large">{{ field.label }}</strong>
          <div class="form-check">
            {{ field }}
          </div>
        {% else %}
        <div class="form-floating mb-3">
          {{ field }}
          <label for="{{ field.id_for_label }}">{{ field.label }}</label>
        </div>
        {% endif %}
      {% endfor %}
      <hr>
      <div class="form-check">
        <input
          class="form-check-input"
          type="checkbox"
          value=""
          id="flexCheckDefault"
          required
        />
        <label class="form-check-label" for="flexCheckDefault">
          Acepto las condiciones de uso, política de privacidad y aviso legal
        </label>
      </div>
      <div class="form-check">
        <input
          class="form-check-input"
          type="checkbox"
          value=""
          id="flexCheckChecked"
          required
        />
        <label class="form-check-label" for="flexCheckChecked">
          Consiento el tratamiento de datos personales
        </label>
      </div>
  </div>

  <div class="col-md-4">
    <div class="card border-0 bg-light">
      <div class="card-body">
        <h3 class="card-title">Resumen del pedido</h3>
        {% for producto in cesta %}
          <p class="card-text d-flex justify-content-between mb-0"><span class="pe-5 w-75">{{producto.maquina.nombre}}</span><span class="w-25 position-absolute end-0">
                {% if producto.maquina.descuento != 0 %}
                  {{producto.maquina.precio|subtract:producto.maquina.descuento|multiply:producto.cantidad}}
                {% else %}
                  {{producto.maquina.precio|multiply:producto.cantidad}}
                {% endif %} €
          </span></p>
          <p class="card-text fst-italic">
                {{producto.cantidad}} 
                {% if producto.cantidad == 1%}
                  unidad
                {% else %}
                  unidades
                {% endif %}</p>
          {% endfor %}
          <hr/>
          <strong class="card-text d-flex justify-content-between"><span>Total (sin gastos de envío)</span><span class="w-25 position-absolute end-0">{{precioTotal}} €</span></strong>
      </div>
  </div>
  </div>
</div>
<div class="row mt-5 d-flex justify-content-between">
  <button class="btn btn-outline-secondary w-25" onclick="location.href='/cesta'">Volver</button>
  <input class="btn btn-warning w-25" type="submit" value="Continuar">
</div>
</form>
{% endblock %}