{% extends 'master.html' %} {% block contenido %}
{% load custom_template_tags %}

<div class="text-center">
    <span class="badge text-bg-light fs-5"> <a class = "text-decoration-none text-black" href="/miCuenta"> Mi Perfil</a></span>
    <span class="badge text-bg-warning fs-5"><a class = "text-decoration-none text-black" href="/favoritos">Favoritos</a></span>
    <span class="badge text-bg-light fs-5"><a class = "text-decoration-none text-black" href="/misPedidos">Mis Pedidos</a></span>
</div>
<div class="mt-5">
    <div class="row mb-5">
        {% for producto in productos %}
        <div class="col-md-3 offset-md-1">
            <div class="card border-0">
                <img src="../../media/{{producto.imagen}}" class="card-img-top" alt="{{producto.nombre}}" role="button"  onclick="location.href='/producto/{{producto.id}}'">
                <div class="card-body">
                    <p class="card-text">{{producto.nombre}}</p>
                    <h5 class="card-title d-flex justify-content-between"><span>
                        {% if producto.stock != 0 %}
                            {{producto.precio|subtract:producto.descuento}}€
                        {% endif %} 
                        <span class="text-danger">
                            {% if producto.stock == 0 %}
                                AGOTADO
                            {% endif %} 
                        </span>
                        <span class="text-muted text-decoration-line-through">
                            {% if producto.descuento != 0 %}
                                {{producto.precio}}€
                            {% endif %}
                        </span>
                    </span><a role="button" onclick="alert('Eliminado de favoritos')" href="/favoritos/{{ producto.id }}"><i class="bi bi-bookmark-fill"></i></a></h5>
                    <a href="#" class="btn btn-light w-100">Añadir a la cesta</a>
                  </div>
              </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}