{% extends 'master.html' %} {% block contenido %}
<div class="text-center">
    <span class="badge text-bg-light fs-5"> <a class = "text-decoration-none text-black" href="/miCuenta"> Mi Perfil</a></span>
    <span class="badge text-bg-warning fs-5"><a class = "text-decoration-none text-black" href="/favoritos">Favoritos</a></span>
    <span class="badge text-bg-light fs-5"><a class = "text-decoration-none text-black" href="/misCompras">Mis Compras</a></span>
</div>
<div class="mt-5">
    <div class="row mb-5">
        <div class="col-4">
            <div class="card border-0" style="width: 18rem;">
                <img src="../../media/carretilla1.png" class="card-img-top" alt="Carretilla elevadora eléctrica">
                <div class="card-body">
                  <p class="card-text d-flex"><span>Carretilla elevadora eléctrica 1500kg</span>&nbsp;&nbsp;<a role="button" onclick="alert('Añadido a favoritos')"><i class="bi bi-bookmark-fill"></i></a></p>
                  <h5 class="card-title">350€</h5>
                  <a href="#" class="btn btn-light w-100">Añadir a la cesta</a>
                </div>
              </div>
        </div>
    </div>
</div>
{% endblock %}