{% extends 'masterIndex.html' %} {% block contenido %}
{% load custom_template_tags %}

<strong class="fs-1" >Alquiler</strong>
<p class="fs-1">de maquinaria de construcción</p>
<form class="d-flex" role="search" action="" method="post">
    {% csrf_token %}
    {{formulario}}
    <button class="btn btn-warning" type="submit"><span class="d-flex">BUSCAR&nbsp;<i class="bi bi-search"></i></span></button>
</form>
<div class="bg-white mt-5">
    <div class="row pt-3">
        <strong class="text-center fs-3">SUGERENCIAS DEL VENDEDOR</strong>
    </div>
    <div class="row mt-3 pe-5">
        {% for producto in productos %}
        <div class="col-md-3 offset-md-1">
            <div class="card border-0">
                <div style="width: 100%;
                height: 0;
                padding-bottom: 100%;">                
                    <img src= "../../media/{{producto.imagen}}" class="card-img-top img-fluid" 
                    {% if producto.stock == 0 %}
                        style="opacity: 0.5;"
                    {% endif %}
                    role="button" alt="{{producto.nombre}}" onclick="location.href='/producto/{{producto.id}}'">
                    {% if producto.descuento != 0 %}
                        <span class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger">%</span>
                    {% endif %}
                </div>
                <div class="card-body">
                    <p class="card-text">{{producto.nombre}}</p>
                    <h5 class="card-title d-flex justify-content-between">
                        <span>
                            {% if producto.stock != 0 %}
                                {{producto.precio|subtract:producto.descuento}}€
                            {% endif %} 
                            <span class="text-danger">
                                {% if producto.stock == 0 %}
                                    AGOTADO
                                {% endif %} 
                            </span>
                            <span class="text-muted text-decoration-line-through">
                                {% if producto.descuento != 0 %}
                                    {{producto.precio}}€
                                {% endif %}
                            </span>
                        </span>
                        {% if not noCliente %}
                            {% if producto in favoritos %}
                            <a role="button" href="/favoritos/{{ producto.id }}">
                                <i class="bi bi-bookmark-fill"></i>
                            </a>
                            {% else %}
                            <a role="button" href="/favoritos/{{ producto.id }}">
                                <i class="bi bi-bookmark"></i>
                            </a>
                            {% endif %}
                        {% endif %}
                    </h5>
                    <input type="hidden" name="next" value="{{ request.path }}">
                    {% if producto.stock != 0 %}
                        <a href="/cesta/{{producto.id}}/">
                            <button class="btn btn-light w-100">Añadir a la cesta</button>
                        </a>
                    {% endif %}
                </div>
              </div>
        </div>
        {% endfor %}
    </div>
</div>
<div class="bg-white mt-5">
    <div class="row pt-3">
        <strong class="text-center fs-3">CATEGORÍAS</strong>
    </div>
    <div class="row mt-3">
        <div class="col text-center">
            <a class="text-decoration-none text-black" href="/catalogo/Manipulación de cargas">
                <img src="../../media/manipulacionCargas.png" alt="Manipulación de cargas" width="100px" height="100px">
                <br/>
                Manipulación de cargas
            </a>
        </div>
        <div class="col text-center">
            <a class="text-decoration-none text-black" href="/catalogo/Movimiento de tierras">
                <img src="../../media/movimientoTierras.png" alt="Movimiento de tierras" width="100px" height="100px">
                <br/>
                Movimiento de tierras
            </a>
        </div>
        <div class="col text-center">
            <a class="text-decoration-none text-black" href="/catalogo/Excavadoras">
                <img src="../../media/excavadoras.png" alt="Excavadoras" width="100px" height="100px">
                <br/>
                Excavadoras
            </a>
        </div>
        <div class="col text-center">
            <a class="text-decoration-none text-black" href="/catalogo/Plataformas elevadoras">
                <img src="../../media/plataformasElevadoras.png" alt="Plataformas elevadoras" width="100px" height="100px">
                <br/>
                Plataformas elevadoras
            </a>
            </div>
        <div class="col text-center">
            <a class="text-decoration-none text-black" href="/catalogo/Andamios de aluminio">
                <img src="../../media/andamiosAluminio.png" alt="Andamios de aluminio" width="100px" height="100px">
                <br/>
                Andamios de aluminio
            </a>
        </div>
    </div>
    <div class="row mt-3 pb-3">
        <div class="col text-center">
            <a class="text-decoration-none text-black" href="/catalogo/Grúas">
                <img src="../../media/gruas.png" alt="Grúas" width="100px" height="100px">
                <br/>
                Grúas
            </a>
        </div>
        <div class="col text-center">
            <a class="text-decoration-none text-black" href="/catalogo/Maquinaria de hormigón">
                <img src="../../media/maquinariaHormigon.png" alt="Maquinaria de hormigón" width="100px" height="100px">
                <br/>
                Maquinaria de hormigón
            </a>
        </div>
        <div class="col text-center">
            <a class="text-decoration-none text-black" href="/catalogo/Herramientas de mano">
                <img src="../../media/herramientasMano.png" alt="Herramientas de mano" width="100px" height="100px">
                <br/>
                Herramientas de mano
            </a>
        </div>
        <div class="col text-center">
            <a class="text-decoration-none text-black" href="/catalogo/Apisonadoras">
                <img src="../../media/apisonadoras.png" alt="Apisonadoras" width="100px" height="100px">
                <br/>
                Apisonadoras
            </a>
        </div>
        <div class="col text-center">
            <a class="text-decoration-none text-black" href="/catalogo/Varios">
                <img src="../../media/varios.png" alt="Varios" width="100px" height="100px">
                <br/>
                Varios
            </a>
        </div>
    </div>
</div>
{% endblock %}