{% extends 'master.html' %} {% block contenido %}

<div class="text-center">
    <span class="badge text-bg-warning fs-5"> <a class = "text-decoration-none text-black" href="/miCuenta/"> Mi Perfil</a></span>
    <span class="badge text-bg-light fs-5"><a class = "text-decoration-none text-black" href="/favoritos/">Favoritos</a></span>
    <span class="badge text-bg-light fs-5"><a class = "text-decoration-none text-black" href="/misPedidos/">Mis Pedidos</a></span>
</div>
<form class="mt-5" action="" method="post">
    <strong style="font-size: xx-large;">Datos personales</strong>
    {% csrf_token %}
    <!-- {{ micuenta_form }} -->
    <div class="row">
    {% for field in micuenta_form %}
        <div class="col-md-4">
            <div class="row">
                <div class="col">
                    <span>{{ field.label }}</span>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    {{ field }}
                </div>
            </div>
        </div>
    {% endfor %}
    </div>
<div class="d-flex justify-content-around mt-5">
    <input type="submit" class="btn btn-warning w-25 mt-2" value="Editar">
</div>
</form>
{% endblock %}