{% extends 'master.html' %} {% block contenido %}
<div class="text-center">
    <span class="badge text-bg-light fs-5"> <a class = "text-decoration-none text-black" href="/miCuenta"> Mi Perfil</a></span>
    <span class="badge text-bg-light fs-5"><a class = "text-decoration-none text-black" href="/favoritos">Favoritos</a></span>
    <span class="badge text-bg-warning fs-5"><a class = "text-decoration-none text-black" href="/misCompras">Mis Compras</a></span>
    <span class="badge text-bg-light fs-5"><a class = "text-decoration-none text-black" href="#">Ajustes</a></span>
</div>
<div class="mt-5">
    <div class="row mb-5">
        <div class="col-4">
            <div class="card mb-3 border-0" style="max-width: 540px;">
                <div class="row g-0">
                  <div class="col-md-6">
                    <img src="../../media/carretilla2.png" class="img-fluid rounded-start" alt="Carretilla elevadora eléctrica">
                  </div>
                  <div class="col-md-6">
                    <div class="card-body">
                      <h5 class="text-muted"><i class="bi bi-square"></i>&nbsp;PENDIENTE</h5>
                      <h5 class="card-title">4 noviembre 2022</h5>
                      <p class="card-text">Carretilla elevadora 1500kg</p>
                      <strong class="card-text">250€</strong> <br/>
                      <a href="#" class="text-black">Ver pedido</a> <br/>
                      <a href="#" class="btn btn-light w-100 mt-2">Añadir opinión</a>
                    </div>
                  </div>
                </div>
              </div>
    </div>
</div>
{% endblock %}