{% extends 'master.html' %} {% block contenido %}
{% load custom_template_tags %}

<form method="POST">
    {% csrf_token %}
<div class="text-center">
  <span class="badge text-bg-light fs-5"> <a class = "text-decoration-none text-black">Métodos de envío</a></span>
  <span class="badge text-bg-warning fs-5"><a class = "text-decoration-none text-black">Métodos de pago</a></span>
</div>
<div class="row mt-5">
  <div class="col-md-8">
    {% for field in  step2_form %}
      <strong style="font-size: xx-large">{{ field.label }}</strong>
      <div class="row mt-3">
        {% for choice in field.field.choices %}
          <div class="col-md-6">
            <div class="card border-0 shadow p-3 mb-5 bg-white rounded">
              {% if choice.0 == 1 %}
              <div class="text-center"><i class="bi bi-cash-coin me-2" style="font-size: 60px;"></i><i class="bi bi-box ms-2" style="font-size: 60px;"></i></div>
              {% elif choice.0 == 2%}
              <div class="text-center"><i class="bi bi-credit-card" style="font-size: 60px;"></i></div>
              {% endif %}
              <div class="card-body">
                <p class="card-text">
                  <div class="form-check">
                    {% if choice.0 == 1%}
                      <input class="form-check-input" type="radio" name="reembolso" value="{{choice.0}}" id="id_reembolso_0">
                      <label class="form-check-label" for="id_reembolso_0">
                    {% elif choice.0 == 2%}
                      <input class="form-check-input" type="radio" name="reembolso" value="{{choice.0}}" id="id_reembolso_1">
                      <label class="form-check-label" for="id_reembolso_1">
                    {% endif %}
                    {{choice.1}}
                    </label>
                  </div>
                </p>
              </div>
            </div>
          </div>
        {% endfor %}
        </div>
    {% endfor %}
  </div>
   <div class="col-md-4">
    <div class="card border-0 bg-light">
      <div class="card-body">
        <h3 class="card-title">Resumen del pedido</h3>
        {% for producto in cesta %}
          <p class="card-text d-flex justify-content-between mb-0"><span class="pe-5 w-75">{{producto.maquina.nombre}}</span><span class="w-25 position-absolute end-0">
                {% if producto.maquina.descuento != 0 %}
                  {{producto.maquina.precio|subtract:producto.maquina.descuento|multiply:producto.cantidad}}
                {% else %}
                  {{producto.maquina.precio|multiply:producto.cantidad}}
                {% endif %} €
          </span></p>
          <p class="card-text fst-italic">
                {{producto.cantidad}}
                {% if producto.cantidad == 1%}
                  unidad
                {% else %}
                  unidades
                {% endif %}</p>
          {% endfor %}
          {% if precioTotal != precioTotalEnvio %}
          <p class="card-text d-flex justify-content-between mb-0"><span class="pe-5 w-75"> Gastos de envío</span><span class="w-25 position-absolute end-0">
            50 €
      </span></p>
          {% endif %}
          <hr/>
          <strong class="card-text d-flex justify-content-between"><span>Total</span><span class="w-25 position-absolute end-0">{{precioTotalEnvio}} €</span></strong>
      </div>
  </div>
  </div>
</div>
<div class="row mt-5 d-flex justify-content-between">
  <button class="btn btn-outline-secondary w-25" onclick="location.href='/borraPedido/{{ pedido.id }}'">Volver</button>
  <button class="btn btn-warning w-25" type="submit">Confirmar compra</button>
</div>
</form>
{% endblock %}