{% extends 'master.html' %} {% block contenido %}
{% load custom_template_tags %}
{#<script>#}
{#  var stripe = Stripe('pk_test_51M7jbDAogMfbRmsAsI3YtWHGKCfGn62wE8FwauuaugS2auWctmSshr9jZ8YVWK1VEu51caloqvsYVcSKF8hhY2zF00tqxpgYOi');#}
{#</script>#}
<form method="POST">
    {% csrf_token %}
<div class="text-center">
  <span class="badge text-bg-light fs-5"> <a class = "text-decoration-none text-black">Envío a domicilio</a></span>
  <span class="badge text-bg-warning fs-5"><a class = "text-decoration-none text-black">Pago</a></span>
</div>
<div class="row mt-5">
  <div class="col-md-8 text-center">
    <strong class="text-start" style="font-size: xx-large;">Pago</strong><br/>
{#    <button class="btn btn-warning w-50 mt-2">Pago a contrarreembolso</button><br/>#}
{#    <button class="btn btn-dark w-50 mt-2">Tarjeta de débito o crédito</button>#}
      {{ step2_form }}
  </div>
   <div class="col-md-4">
    <div class="card border-0 bg-light">
      <div class="card-body">
        <h3 class="card-title">Resumen del pedido</h3>
        {% for producto in cesta %}
          <p class="card-text d-flex justify-content-between mb-0"><span class="pe-5 w-75">{{producto.maquina.nombre}}</span><span class="w-25 position-absolute end-0">
                {% if producto.maquina.descuento != 0 %}
                  {{producto.maquina.precio|subtract:producto.maquina.descuento|multiply:producto.cantidad}}
                {% else %}
                  {{producto.maquina.precio|multiply:producto.cantidad}}
                {% endif %} €
          </span></p>
          <p class="card-text fst-italic">
                {{producto.cantidad}}
                {% if producto.cantidad == 1%}
                  unidad
                {% else %}
                  unidades
                {% endif %}</p>
          {% endfor %}
          <div class="form-check">
              {{ step1_form.tienda }}
              <label class="form-check-label">{{ step1_form.tienda.label }}</label>

          </div>

          <hr/>
          <strong class="card-text d-flex justify-content-between"><span>Total (sin gastos de envío)</span><span class="w-25 position-absolute end-0">{{precioTotal}} €</span></strong>
      </div>
  </div>
  </div>
</div>
<div class="row mt-5 d-flex justify-content-between">
  <button class="btn btn-outline-secondary w-25" onclick="location.href='/borraPedido/{{ pedido.id }}'">Volver</button>
  <button class="btn btn-warning w-25" type="submit">Confirmar compra</button>
</div>
</form>
{% endblock %}