{% extends 'master.html' %} {% block contenido %}
<div>
  <h1 class="text-center">Política de privacidad</h1>
  <p>
    En Rent a Tractor, le garantizamos la máxima seguridad y confidencialidad en
    el tratamiento de sus datos personales. En cumplimiento de la Ley Orgánica
    15/1999, de 13 de diciembre, de Protección de Datos de Carácter Personal, le
    informamos de que los datos personales que nos facilite serán incorporados a
    un fichero automatizado de datos de carácter personal, propiedad de Rent a
    Tractor, con la finalidad de gestionar su solicitud de información, así como
    para mantenerle informado de las novedades y promociones de nuestros
    productos y servicios. Asimismo, le informamos de que sus datos personales
    podrán ser cedidos a empresas colaboradoras de Rent a Tractor, con la
    finalidad de poder ofrecerle productos y servicios relacionados con los
    solicitados. En cualquier momento podrá ejercitar sus derechos de acceso,
    rectificación, cancelación y oposición, dirigiéndose por escrito a Rent a
    Tractor, Avenida Reina Mercedes, s/n, Sevilla, España, o bien a través del
    formulario de contacto.
  </p>
</div>
{% endblock %}
