{% extends 'master.html' %} {% block contenido %}
<div>
  <h1 class="text-center">Política de devolución</h1>
  <p>
    En caso de que el producto no se ajuste a sus necesidades, podrá cancelar su
    pedido si se encuentra en estado <strong>COMPRADO</strong>. Para ello, debe contactar con
    nosotros de la siguiente forma:
  </p>
  <p>
    (a) Si es usted un cliente registrado, deberá dirigirse al formulario de
    reclamaciones situado en Mis compras dentro en su Perfil o contactándonos
    por correo electrónico o teléfono.
  </p>
  <p>
    (b) Si no es usted un cliente registrado, deberá contactarnos por correo
    electrónico o teléfono.
  </p>
  <p>
    En cualquier caso, <strong>NO</strong> se permitirá la devolución de cualquier compra una vez
    se haya ENVIADO el pedido.
  </p>
</div>
{% endblock %}
