{% extends 'master.html' %} {% block contenido %}

<div>
  <h1 class="text-center">Escribe tu problema</h1>
  {% if submitted %}
  <p class="alert alert-success" role="alert" >
    Su reclamación se ha enviado con éxito. En breve nos pondremos en contacto con usted.
  </p>
  {% else %}
  {% if form.errors %}
<p class="alert alert-danger" role="alert" >
  El número de referencia de producto introducido no corresponde con ninguna máquina de su pedido o ya existe una reclamación para este producto.
  </p>
{% endif %}

    <form action="" method="POST" >
      {% csrf_token %}

          {{form.as_p}}
      <div class="d-flex justify-content-center m-3">
        <button type="submit" class="btn btn-warning ">Enviar</button>
      </div>
    </form>
  {% endif %}
</div>
{% endblock %}
