{% extends 'master.html' %} {% block contenido %}

<div class="d-flex flex-row">
    <div class="col">
        <div class="flex-fill me-md-3 pt-3 px-3 pt-md-5 px-md-5 ">
            <div class="my-3 py-3 text-center overflow-hidden">
                <h4 class="fs-3">Regístrate</h4>
                <p class="lead">Inicia sesión para acceder a todos tus datos</p>
            </div>
            <form method="post">
                {% csrf_token %}
                {{ register_form }}
{#            <div class="mb-3">#}
{#                <label for="exampleInputName" class="form-label">Nombre</label>#}
{#                <input type="name" class="form-control" id="exampleInputName" aria-describedby="nameHelp">#}
{#            </div>#}
{#            <div class="mb-3">#}
{#                <label for="exampleInputSurname1" class="form-label">Primer Apellido</label>#}
{#                <input type="surna me1" class="form-control" id="exampleInputSurame1" aria-describedby="surname1Help">#}
{#            </div>#}
{#            <div class="mb-3">#}
{#                <label for="exampleInputSurname2" class="form-label">Segundo Apellido</label>#}
{#                <input type="surname2" class="form-control" id="exampleInputSurame2" aria-describedby="surname2Help">#}
{#            </div>#}
{#            <div class="mb-3">#}
{#                <label for="exampleInputEmail1" class="form-label">Correo electronico</label>#}
{#                <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">#}
{#            </div>#}
{#            <div class="mb-3">#}
{#                <label for="exampleInputPassword1" class="form-label">Contraseña</label>#}
{#                <input type="password1" class="form-control" id="exampleInputPassword1">#}
{#            </div>#}
{#            <div class="mb-3">#}
{#                <label for="exampleInputPassword2" class="form-label">Repetir contraseña</label>#}
{#                <input type="password2" class="form-control" id="exampleInputPassword2">#}
{#            </div>#}
{#            <div class="form-check">#}
{#                <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">#}
{#                <label class="form-check-label" for="flexCheckDefault">#}
{#                    He leído y acepto los <a href="#" class="stretched-link text-warning">Términos de Uso</a> y <a href="#" class="stretched-link text-warning">Política de Privacidad de Datos</a>#}
{#                </label>#}
{#            </div>#}

            <div class="d-flex justify-content-center m-3">
                <button type="submit" class="btn btn-warning">Iniciar sesión</button> <!-- type="submit" cuando se implemente form -->
            </div>
            </form>
        </div>
    </div>
   
</div>
{% endblock %}
