{% extends 'master.html' %} {% block contenido %}

<div class="d-flex flex-row">
    <div class="col-md-6 offset-md-3">
        <div class="flex-fill me-md-3 pt-3 px-3 pt-md-5 px-md-5 ">
            <div class="my-3 py-3 text-center overflow-hidden">
                <h4 class="fs-3">Regístrate</h4>
                <p class="lead">Inicia sesión para acceder a todos tus datos</p>
            </div>
            <form method="post">
                {% csrf_token %}
                {% for field in register_form %}
                    {% if field.name == 'fecha_nacimiento' %}
                        <div class="input-group date" id="datetimepicker1" data-target-input="nearest">
                            <div class="form-floating mb-3">
                                {{ field }}
                                <label for="{{ field.id_for_label }}">{{ field.label }}</label>
                            </div>
                            <div class="input-group-append mb-3" data-target="#datetimepicker1" data-toggle="datetimepicker">
                                <div class="input-group-text h-100"><i class="bi bi-calendar"></i></div>
                            </div>
                        </div>
                    {% else %}
                        <div class="form-floating mb-3">
                            {{ field }}
                            <label for="{{ field.id_for_label }}">{{ field.label }}</label>
                        </div>
                    {% endif %}
                {% endfor %}
                <div class="d-flex justify-content-center m-3">
                    <button type="submit" class="btn btn-warning">Registrarse</button>
                </div>
            </form>
        </div>
    </div>
</div>

<script> $(function () {
    $("#datetimepicker1").datetimepicker({
        format: "DD/MM/YYYY",
        language: "es",
        autoclose: true,
        todayHighlight: true,
        value: new Date(),
        minDate: new Date(1900, 0, 1),
        maxDate: Date.now(),
    });
  });</script>
{% endblock %}
