{% extends 'master.html' %} {% block contenido %}
<div class="text-center">
  <h1 class="text-center">Seguimiento de pedidos</h1>
  <p>Aquí podrá hacer saber en todo momento el estado de su pedido.</p>
  <form class="d-flex mx-2" role="idPedido" method="post" action="">
                    {% csrf_token %}
                    {{form}}
                    <button class="btn btn-outline-dark" type="submit"><i class="bi bi-arrow-right"></i></i></button>
                </form>
</div>
{% endblock %}
s