{% extends 'master.html' %} {% block contenido %}
<div class="position-absolute top-50 start-50 translate-middle">
    <h1 class="text-center">Sobre nosotros</h1>
    <p class="text-center">Somos una empresa dedicada al alquiler de maquinaria de construcción. Nuestro objetivo es ofrecer a nuestros clientes una amplia gama de maquinaria de construcción de alta calidad a precios competitivos. Nuestro equipo de profesionales está a su disposición para asesorarle en la elección de la maquinaria que mejor se adapte a sus necesidades.</p>
</div>
{% endblock %}