{% extends 'master.html' %} {% block contenido %}
<div>
  <h1 class="text-center mt-3">Sobre nosotros</h1>
  <div class="row justify-content-center">
    <div class="col-md-6">
      <img src="../../media/excavator.jpg" class="img-fluid" alt="{{nombre}}" />
    </div>
    <div class="col-md-4 my-auto">
      <p>Nombre: {{ name }}</p>
      <p class="text-center">
        Somos una empresa dedicada al alquiler de maquinaria de construcción.
        Nuestro objetivo es ofrecer a nuestros clientes una amplia gama de
        maquinaria de construcción de alta calidad a precios competitivos.
        Nuestro equipo de profesionales está a su disposición para asesorarle en
        la elección de la maquinaria que mejor se adapte a sus necesidades.
      </p>
      <a href="#" class="stretched-link"></a>
    </div>
  </div>
</div>

{% endblock %}
