{% extends 'master.html' %} {% block contenido %}
<div>
  <h1 class="text-center">Términos y condiciones de uso</h1>
  <h5>Objeto</h5>
  <p>
    De conformidad con lo dispuesto en el artículo 10 la Ley 34/2002, de 11 de
    julio, de Servicios de la Sociedad de la Información y Comercio Electrónico,
    le informamos que nuestra web Rent a Tractor, está gestionada y operada por
    la sociedad mercantil RENT A TRACTOR, S.A (en adelante la Compañía) con
    domicilio en Avenida Reina Merces, S/N, Secilla e Inscrita en el Registro
    Mercantil de Madrid.
  </p>
  <p>
    La prestación del servicio del Sitio Web tiene una duración limitada al
    momento en que los Usuarios se encuentren conectados al Sitio Web o a alguno
    de los servicios que a través de este se facilitan. Por tanto, los Usuarios
    deben leer atentamente el Aviso Legal presente en el Sitio Web en cada una
    de las ocasiones en que se propongan utilizar el mismo, ya que éste puede
    sufrir modificaciones sin previo aviso.
  </p>
  <h5>Público dirigido</h5>
  <p>
    La web Rent a Tractor está dirigida al público en general que demanda
    información sobre las actividades y servicios que presta la Compañía con
    carácter general, todos ellos relacionados con el ámbito del alquiler y
    venta de segunda mano de maquinaria industrial.
  </p>
  <h5>Condiciones generales de uso</h5>
  <p>
    La Compañía se reserva el derecho a modificar en cualquier momento que lo
    considere oportuno, el acceso, configuración o contenidos que se integran en
    la web Rent a Tractor, lo que puede implicar la modificación de los
    documentos que se integran en la misma de acuerdo con lo establecido en el
    nuevo Reglamento UE 2016/679 de 27 de abril, General de Protección de Datos
    (RGPD). (Aviso Legal-Condiciones de Uso y Política de Protección de Datos).
  </p>
  <p>
    Los contenidos ofrecidos a través de la web Rent a Tractor se publican con
    efectos informativos, por lo que nunca podrán ser considerados documentos de
    carácter contractual o documentos generadores de obligaciones y derechos. El
    acceso a los contenidos no implica ningún tipo de garantía por parte de la
    Compañía.
  </p>
  <p>
    Asimismo, cualesquiera datos suministrados a través de la web Rent a
    Tractor, serán tratados de conformidad con lo dispuesto en la POLÍTICA DE
    PROTECCIÓN DE DATOS publicada en la misma, con observancia de las normas
    sobre confidencialidad.
  </p>
  <p>
    La Compañía no garantiza la disponibilidad ininterrumpida ni la continuidad
    del funcionamiento de la web Rent a Tractor y se reserva el derecho a
    suspender temporalmente el acceso a la misma en caso de avería técnica.
  </p>
  <p>
    Rent a Tractor excluye cualquier responsabilidad por los daños y perjuicios
    de toda naturaleza que puedan deberse a la falta de veracidad, exactitud,
    exhaustividad y/o actualidad de los contenidos transmitidos.
  </p>
  <p>
    Los usuarios se comprometen a hacer un uso adecuado de los contenidos que se
    ofrecen a través de la web GAM y a no emplearlos para (1) incurrir en
    actividades ilícitas, ilegales o contrarias a la buena fe y al orden
    público; (2) difundir contenidos o propaganda de carácter racista, xenófobo,
    ilegal, de apología del terrorismo o que atente contra los derechos humanos;
    (3) provocar daños en los sistemas informáticos de la Compañía; (4)
    introducir o difundir en la red de la Compañía virus informáticos o
    cualesquiera otros sistemas que sean susceptibles de provocar daños; (5)
    desarrollar actividades que tengan que ver con técnicas de descompilación o
    descodificación de contenido no autorizada.
  </p>
  <p>
    El acceso a la web se produce con carácter general de forma libre y
    gratuita.
  </p>
  <h5>Derechos de propiedad industrial e intelectual</h5>
  <p>
    Usted reconoce y acepta que la totalidad de los Derechos de Propiedad
    Intelectual e Industrial sobre todos y cada uno de los elementos que forman
    parte de la web Rent a Tractor.
  </p>
  <h5>Modificaciones</h5>
  <p>
    La Compañía se reserva el derecho a modificar en cualquier momento los
    términos del presente Términos y Condiciones de Uso o de la Política de
    Protección de Datos, así como cualesquiera otros textos, instrucciones o
    avisos de índole legal que pudieran resultar de aplicación conforme a la
    legislación vigente.
  </p>
</div>
{% endblock %}
